@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Healthcare</h1>
    <p class="lead">This is the medical service that you can fully trust. We provide qualified doctors for the better tratment of patients. Through this website, patients can online check their doctor's name and their office location. Moreover, doctors can see the information of their patients.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Laboratory Services</h2>
        <p>
            We have a built in lab in the hospital so patients don't need to go outside for tests. The lab is equipped with advanced machines.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Emergency Case</h2>
        <p>If you need a doctor urgently and there is no office hours of doctor at that time then here is the emergency number : (705)-864-9813</p>
    </div>
    <div class="col-md-4">
        <h2>Working Hours</h2>
        <p>Monday-Saturday  -  9:00am-8:00pm</p>
        <p>Sunday         -  Closed</p>
    </div>
</div>